/Interfazeen_Garapen_Ariketak_2025_2026/03-ud3-fxml-estiloak-ariketak-aritz-ibanez/target/
/Interfazeen_Garapen_Ariketak_2025_2026/03-css/target/
/Interfazeen_Garapen_Ariketak_2025_2026/04-tablaPertsonakModifikatu/target/
